<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>tweetrad.io</title>
    <script type="text/javascript" charset="utf-8" src="/javascripts/prototype.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/s2.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/sound.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/tweetradio.js"></script>
    <link rel="stylesheet" href="/stylesheets/tweetradio.css" type="text/css" media="screen" title="tweetrad.io" charset="utf-8">
  </head>
  <body>
    <div class="bird"> </div>
    <div class="logo">tweetrad.io</div>
    <%= yield %>
  </body>
</html>